<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220825879977-lmf6mnc5802b3j4btdgm3icsvsugrj1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220825879977-lmf6mnc5802b3j4btdgm3icsvsugrj1c</string>
	<key>API_KEY</key>
	<string>AIzaSyBvEF5we1F_YqpuDgQG3H-E77De1Bj4bq8</string>
	<key>GCM_SENDER_ID</key>
	<string>220825879977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Project</string>
	<key>PROJECT_ID</key>
	<string>nba-livescore-d306c</string>
	<key>STORAGE_BUCKET</key>
	<string>nba-livescore-d306c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:220825879977:ios:dd0d1328f7b10bb943b0b8</string>
	<key>DATABASE_URL</key>
	<string>https://nba-livescore-d306c.firebaseio.com</string>
</dict>
</plist>
